.newspaper-info {
  margin-top: 22px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 6px 0;
  text-align: center;
}

@media (min-width: 960px) {
  .newspaper-info {
    text-align: left;
  }
  
  .newspaper-info p {
    display: inline-block;
    margin-right: 106px;
  }

  p.copyright {
    margin-right: 40px;
  }

  p.date {
    margin-right: 290px;
  }

  .newspaper-info > p:last-child {
    margin: 0;
  }
}
