@import "typography.scss";
@import "header.scss";
@import "newspaper-info.scss";

.main-wrapper {
  max-width: 980px;
  margin: 0 12px;
}

.clearfix {
  clear: both;
}

.newspaper-body {
  margin-top: 20px;
}

@media (min-width: 960px) {
  .main-wrapper {
    margin: 0 auto;
  }

  article {
    width: 154px;
    border-right: 1px solid black;
    padding-right: 4px;
  }
}
