@import "header.scss";
@import "typography.scss";

.main-wrapper {
  max-width: 980px;
  margin: 0 12px;
}

.clearfix {
  clear: both;
}

@media (min-width: 960px) {
  .main-wrapper {
    margin: 0 auto;
  }
}
