@import "typography.scss";
@import "header.scss";
@import "newspaper-info.scss";

.main-wrapper {
  max-width: 980px;
  margin: 0 12px;
}

.clearfix {
  clear: both;
}

.newspaper-body {
  margin-top: 20px;
}

figure {
  display: inline-block;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 2px;
}

article {
  display: inline-block;
  vertical-align: top;
}

article > header > * {
  margin-bottom: 12px;
}

article > header > p:last-child {
  margin-bottom: 0;
}

@media (min-width: 960px) {
  .main-wrapper {
    margin: 0 auto;
  }

  img {
    width: 100%;
    display: inline-block;
  }

  figure#centrepiece {
    width: 65.9%;
  }

  article {
    width: 157px;
    padding: 0 2px;
  }
}
