body {
  font-size: 12px;
}

h1 {
  font-size: 5.5em;
  text-align: center;
}

h2 {
  font-family: "Arial Narrow";
  font-size: 1.6em;
  text-transform: uppercase;
}

h3 {
  font-family: "Arial Narrow";
  text-transform: uppercase;
  font-size: 1.4em;
}

h4 {
  font-size: 1em;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

.lead {
  font-size: 1.2em;
}

.edition {
  font-family: sans-serif;
}

.newspaper-info > p:not(.copyright) {
  text-transform: uppercase;
  font-style: italic;
}

.copyright {
  font-size: 0.7em;
}

.location {
  text-transform: uppercase;
}

article > header {
  text-align: center;
}

article > header > * {
  margin-bottom: 12px;
}

article > header > p:last-child {
  margin-bottom: 0;
}

@media (min-width: 960px) {
  .main-header > .header-info {
    text-align: justify;
  }

  .edition {
    text-align: center;
  }

  article > p {
    text-align: justify;
  }
}
